@model Designer

@{
    ViewData["Title"] = "Designer Details";
    var base64 = Convert.ToBase64String(Model.Image);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}


<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li>Administrator</li>
                    <li class="active"><a asp-area="Administrator" asp-controller="Designer" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Designers</a></li>
                    <li class="active"><a asp-area="Administrator" asp-controller="Designer" asp-action="Details" asp-route-id="@Model.Id"><i class="fa fa-angle-right" aria-hidden="true"></i>Designer Details</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Designer Details</h4>
            <hr />
            <section>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <h5>@Model.Name</h5>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <h5>@Model.Description</h5>
                </div>
                <div class="red_button shop_now_button mr-3"><a asp-area="Administrator" asp-controller="Designer" asp-action="Index">Back to List</a></div>
                @if (this.User.IsInRole("Administrator"))
                {
                    <div class="red_button shop_now_button mr-3"><a asp-area="Administrator" asp-controller="Designer" asp-action="Edit" asp-route-id="@Model.Id">Edit</a></div>
                    <div class="red_button shop_now_button mr-3"><a asp-area="Administrator" asp-controller="Designer" asp-action="Delete" asp-route-id="@Model.Id">Delete</a></div>
                }
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <img src="@imgSrc" />
            </section>
        </div>
    </div>
</div>