@model CreateReviewViewModel

@{
    ViewData["Title"] = "Bag Details";
    var bag = ViewData["Bag"] as BagViewModel;
    var message = ViewData["Message"] as string;
    var priceString = $"{bag.Price:f2}";
    var newPriceString = $"{bag.NewPrice:f2}";
    var base64 = Convert.ToBase64String(bag.Image);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li>Administrator</li>
                    <li class="active"><a asp-area="Administrator" asp-controller="Bag" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Bags</a></li>
                    <li class="active"><a asp-area="Administrator" asp-controller="Bag" asp-action="Details" asp-route-id="@bag.Id"><i class="fa fa-angle-right" aria-hidden="true"></i>Bag Details</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">

                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <div class="single_product_image_background" style="background-image:url(@imgSrc)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h2>@bag.Name</h2>
                    <p><a asp-area="Administrator" asp-controller="Designer" asp-action="Details" asp-route-id="@bag.DesignerId">@bag.DesignerName</a></p>
                    <p>@bag.ShortDescription</p>
                </div>
                @if (bag.NewPrice >= 500)
                {
                    <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                        <span class="ti-truck"></span><span>free delivery</span>
                    </div>
                }
                <div>
                    @if (bag.DiscountPercent != 0)
                    {
                        <div class="original_price">$@priceString</div>
                        <div class="product_price">$@newPriceString for a Day</div>
                    }
                    else
                    {
                        <div class="product_price">$@priceString for a Day</div>
                    }
                <ul class="star_rating">
                    @for (int i = 0; i < bag.Reviews.Average(r => r?.Rating); i++)
                    {
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    }
                    @for (int i = 0; i < 5 - bag.Reviews.Average(r => r?.Rating); i++)
                    {
                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    }
                </ul>
                <p>
                    @message
                    <form method="post" asp-area="" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@bag.Id" class="form-inline">
                        <input type="date" class="form-control mr-3" name="getDate" />
                        <input type="date" class="form-control" name="returnDate" />
                        <button type="submit" class="message_submit_btn trans_300 mt-3">Add To Cart</button>
                    </form>
                </p>
                <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <div class="red_button shop_now_button mr-3"><a asp-area="Administrator" asp-controller="Bag" asp-action="Index">Back to List</a></div>
                        <div class="red_button shop_now_button mr-3"><a asp-area="Administrator" asp-controller="Bag" asp-action="Edit" asp-route-id="@bag.Id">Edit</a></div>
                        <div class="red_button shop_now_button mr-3"><a asp-area="Administrator" asp-controller="Bag" asp-action="Delete" asp-route-id="@bag.Id">Delete</a></div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Tabs -->

    <div class="tabs_section_container">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="tabs_container">
                        <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                            <li class="tab active" data-active-tab="tab_1"><span>Description</span></li>
                            <li class="tab" data-active-tab="tab_2"><span>Additional Information</span></li>
                            <li class="tab" data-active-tab="tab_3"><span>Reviews (@bag.Reviews.Count)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <!-- Tab Description -->

                    <div id="tab_1" class="tab_container active">
                        <div class="row">
                            <div class="col-lg-5 desc_col">
                                <div class="tab_title">
                                    <h4>Description</h4>
                                </div>
                                <div class="tab_text_block">
                                    <h2>@bag.Name</h2>
                                    <p><a asp-area="Administrator" asp-controller="Designer" asp-action="Details" asp-route-id="@bag.DesignerId">@bag.DesignerName</a></p>
                                    <p>@bag.Description</p>
                                </div>
                                <div class="tab_image">
                                    <img src="@imgSrc" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tab Additional Info -->

                    <div id="tab_2" class="tab_container">
                        <div class="row">
                            <div class="col additional_info_col">
                                <div class="tab_title additional_info_title">
                                    <h4>Additional Information</h4>
                                </div>
                                <p>SIZE:<span>9 x 8.5 x 3.5 inches</span></p>
                            </div>
                        </div>
                    </div>

                    <!-- Tab Reviews -->

                    <div id="tab_3" class="tab_container">
                        <div class="row">

                            <!-- User Reviews -->

                            <div class="col-lg-6 reviews_col">
                                <div class="tab_title reviews_title">
                                    <h4>Reviews (@bag.Reviews.Count)</h4>
                                </div>
                                <!-- User Review -->

                                @if (bag.Reviews.Count == 0)
                                {
                                    <div class="user_review_container d-flex flex-column flex-sm-row">
                                        <div class="user">
                                            <div class="user_pic"></div>
                                            <div class="user_rating">
                                                <ul class="star_rating"></ul>
                                            </div>
                                        </div>
                                        <div class="review">
                                            There are no reviews yet.
                                            Be the first one to write a review for this bag!
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    foreach (var review in bag.Reviews.OrderByDescending(r => r.ReviewedOn).Take(bag.Reviews.Count > 4 ? 4 : bag.Reviews.Count))
                                    {
                                        <div class="user_review_container d-flex flex-column flex-sm-row">
                                            <div class="user">
                                                <div class="user_pic"></div>
                                                <div class="user_rating">
                                                    <ul class="star_rating">
                                                        @for (int i = 0; i < review.Rating; i++)
                                                        {
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        }
                                                        @for (int i = 0; i < 5 - review.Rating; i++)
                                                        {
                                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="review">
                                                <div class="review_date">@review.ReviewedOn</div>
                                                <div class="user_name">@review.Name</div>
                                                <p>@review.Comment</p>
                                            </div>
                                        </div>
                                    }
                                }


                            </div>
                            <!-- Add Review -->

                            <div class="col-lg-6 add_review_col">
                                <p class="text-success">@ViewData["Message"]</p>
                                <div class="add_review">
                                    <form asp-area="Administrator" asp-action="Create" asp-controller="Review">
                                        <div>
                                            <h1>Add Review</h1>
                                            <input type="hidden" name="bagId" value="@bag.Id" />
                                            <input asp-for="Name" class="form_input input_name" placeholder="Name*">
                                            <input asp-for="Email" class="form_input input_email" placeholder="Email*">
                                        </div>
                                        <div>
                                            <h1>Your Rating:</h1>
                                            <input asp-for="Rating" class="form_input input_name" placeholder="Rating*" />
                                            <textarea asp-for="Comment" class="input_review" placeholder="Your Review" rows="3"></textarea>
                                        </div>
                                        <div class="text-left text-sm-right">
                                            <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">submit</button>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>